<%= render partial: "layouts/devise-header" %>

<div class="sign">
 <div class="sign__in">プロフィール登録</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :指名 %><br />
      <%= f.text_field :name, autofocus: true, class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :都道府県 %><br />
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :市町村 %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "region", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :建物名・番地 %><br />
      <%= f.text_field :building_street, autofocus: true, autocomplete: "address", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :年齢 %><br />
      <%= f.text_field :age, autofocus: true, autocomplete: "age", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :性別 %><br />
      <%= f.select :gender, ["選択してください","男性", "女性"], autofocus: true, autocomplete: "gender" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :パスワード確認入力 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: :field__box %>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class: "actions__btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>