<h1 class="accept__title">受託フォーム</h1>
  <%= form_for @accept do |f| %>
    <label>
      <h1 class="new_accept__title">受託日程</h1>
      <%= f.date_field :date, class: :"new_accept__box" %>
    </label>
    <label>
      <h1 class="new_accept__title">受託時間</h1>
      <%= f.text_field :time, class: :"new_accept__box", placeholder: :"例）8:30 ~ 19:00" %>
    </label>
    <label>
      <h1 class="new_accept__title">可能人数</h1>
      <%= f.text_field :capacity, class: :"new_accept__box", placeholder: :"例）３人" %>
    </label>
    <label>
      <h1 class="new_accept__title">預かり可能年齢</h1>
      <%= f.text_field :age_range, class: :"new_accept__box", placeholder: :"例）2歳 ~ 10歳まで" %>
    </label>
    <label>
      <h1 class="new_accept__title">特記事項</h1>
      <%= f.text_area :beg, class: :"new_accept__area", placeholder: :"ご依頼される方への要望等がありましたらご記入下さい。"  %>
    </label>
    <% if controller.action_name == "new" %>
      <%= f.submit "受託条件を確定する", data: {confirm: "受託条件を確定してもよろしいですか？"}, class: :"btn" %>
    <% elsif controller.action_name == "edit" %>
      <%= f.submit "受託条件を変更する", data: {confirm: "受託条件を変更してもよろしいですか？"}, class: :"btn" %>
    <% end %>
  <% end %>