<div class="accept">
  <%= form_for @accept do |form| %>
    <label>
      <h1 class="edit_user__title">受託日程</h1>
      <%= form.text_field :date, class: :"edit_user__box" %>
    </label>
    <label>
      <h1 class="edit_user__title">時間</h1>
      <%= form.text_field :time, class: :"edit_user__box" %>
    </label>
    <label>
      <h1 class="edit_user__title">可能人数</h1>
      <%= form.email_field :capacity, class: :"edit_user__box" %>
    </label>
    <label>
      <h1 class="edit_user__title">預かり可能年齢</h1>
      <%= form.text_field :age_range, class: :"edit_user__box" %>
    </label>
    <label>
      <h1 class="edit_user__title">備考</h1>
      <%= form.text_area :beg, class: :"edit_user__box" %>
    </label>
    <%= form.submit "送信", class: :"btn" %>
  <% end %>

</div>