<%= render partial: "layouts/header", locals: {user: @user } %>

<div class="deal">
  <div class="deal__title">
    受付確認画面
  </div>
  <% @accepts.each do |accept| %>
    <% if Date.today <= accept.date %>
      <div class="deal__accept">
        <div class="deal__accept__left">
          <li>受付ID.No：<%= accept.id %></li>
          <li>受付日程：<%= accept.date %></li>
          <li>時間：<%= accept.time %></li>
          <li>地域：<%= accept.user.prefecture.name %><%= accept.user.city %></li>
        </div>
        <div class="deal__accept__right">
          <li>可能人数：<%= accept.capacity %></li>
          <li>預かり可能年齢：<%= accept.age_range %></li>
          <li>備考：<%= simple_format accept.beg %></li>
        </div>
      </div>
      <% @requests.each do |request| %>
        <% if accept.id == request.accept.id %>
          <div class="deal__message">
          上記の受付IDに下記の依頼があります
          返信画面へ進み、承諾・辞退を選択して下さい。<br>
          ★承諾の場合はチャットルームを作成し、依頼主へご連絡をお願いします。
          </div>
          <div class="deal__request">
            <ul class="deal__request__left">
              <li>該当受付ID.No：<%= request.accept_id %></li>
              <li>依頼日程：<%= request.date %></li>
              <li>依頼時間：<%= request.time %></li>
              <li>依頼主：<%= request.user.name %></li>
              <li>メールアドレス：<%= request.user.email %></li>
              <li>住所：<%= request.user.prefecture.name %><%= request.user.city %><%= request.user.building_street %></li>
              <% if request.reply == nil || request.reply == "選択してください" || request.reply == "" %>
                <%= link_to "返信画面へ", "/requests/#{request.id}/reply", class: :"deal__request__left__reply" %>
              <% elsif request.reply == "承諾" && request.room.present? %>
                <%= link_to "返信状況：承諾済み", "/requests/#{request.id}/reply", class: :"deal__request__left__status" %>
                <li><%= link_to "チャットルームへ", "/requests/#{request.id}/rooms/#{request.room.id}", class: :"chat-access" %></li>
              <% elsif request.reply == "承諾" %>
                <%= link_to "返信状況：承諾済み", "/requests/#{request.id}/reply", class: :"deal__request__left__status" %>
                <li><%= link_to "チャットルーム作成画面へ", new_request_room_path(request_id: request.id), class: :"chat-access" %></li>
              <% elsif request.reply == "辞退" %>
                <%= link_to "返信状況：辞退済み", "/requests/#{request.id}/reply", class: :"deal__request__left__status" %>
              <% end %>
            </ul>
            <ul class="deal__request__right">
              <li>お子様の指名：<%= request.name %></li>
              <li>年齢：<%= request.age %></li>
              <li>性別：<%= request.gender %></li>
              <li>アレルギー：<%= request.allergy %></li>
              <li>性格：<%= request.personality %></li>
              <li>特記事項：<%= request.mention %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>