<div class="deal">
  <div class="deal__title">
    受付確認画面
  </div>
  <% @accepts.each do |accept| %>
    <% if Date.today <= accept.date %>
      <div class="deal__accept">
        <div class="deal__accept__left">
          <li>受付ID.No：<%= accept.id %></li>
          <li>受付日程：<%= accept.date %></li>
          <li>時間：<%= accept.time %></li>
          <li>都道府県・市町村：<%= accept.user.region %></li>
        </div>
        <div class="deal__accept__right">
          <li>可能人数：<%= accept.capacity %></li>
          <li>預かり可能年齢：<%= accept.age_range %></li>
          <li>備考：<%= simple_format accept.beg %></li>
        </div>
      </div>
      <% @requests.each do |request| %>
        <% if accept.id == request.accept.id %>
        <div class="deal__message">
        上記の受付IDに下記の依頼があります。
        記載されております依頼主さまのメールアドレスへ返信をお願い致します。
        </div>
          <div class="deal__request">
            <div class="deal__request__left">
              <li class="aaa">該当受付ID.No：<%= request.accept_id %></li>
              <li>依頼日程：<%= request.date %></li>
              <li>依頼時間：<%= request.time %></li>
              <li>依頼主：<%= request.user.name %></li>
              <li>メールアドレス：<%= request.user.email %></li>
              <li>住所：<%= request.user.region %><%= request.user.address %></li>
              <%= link_to "承諾", "/users/#{current_user.id}/deal", class: :"deal__request__left__accept" %>
              <%= link_to "辞退", "/users/#{current_user.id}/deal", class: :"deal__request__left__decline" %>
            </div>
            <div class="deal__request__right">
              <li>お子様の指名：<%= request.name %></li>
              <li>年齢：<%= request.age %></li>
              <li>性別：<%= request.gender %></li>
              <li>アレルギー：<%= request.allergy %></li>
              <li>性格：<%= request.personality %></li>
              <li>特記事項：<%= request.mention %></li>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>