<%= render partial: "layouts/header", locals: {user: @user} %>

<div class="user">
  <div class="user-info">
    <h1 class="user-info__title">プロフィール</h1>
    <% if current_user.id == @user.id && user_signed_in? %>
      <%= form_for @user do |f| %>
        <label>
          <h1 class="edit_user__title">指名</h1>
          <%= f.text_field :name, class: :"edit_user__box" %>
        </label>
        <label>
          <h1 class="edit_user__title">ニックネーム</h1>
          <%= f.text_field :nickname, class: :"edit_user__box" %>
        </label>
        <label>
          <h1 class="edit_user__title">メールアドレス</h1>
          <%= f.email_field :email, class: :"edit_user__box" %>
        </label>
         <label>
          <h1 class="edit_user__title">都道府県</h1>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
        </label>
        <label>
          <h1 class="edit_user__title">市町村</h1>
          <%= f.text_field :city, class: :"edit_user__box" %>
        </label>
        <label>
          <h1 class="edit_user__title">建物名・番地</h1>
          <%= f.text_field :building_street, class: :"edit_user__box" %>
        </label>
        <label>
          <h1 class="edit_user__title">年齢</h1>
          <%= f.text_field :age, class: :"edit_user__box" %>
        </label>
        <label>
          <h1 class="edit_user__title">性別</h1>
          <%= f.select :gender, ["男性", "女性"], {pronpt: "選択してください"} %>
        </label>
      <%= f.submit "更新", class: :"edit_user__btn" %>
    <% end %>
    <% else %>
      <div class="user-info__title__description">
        <h1 class="user-info__title__description__div">ニックネーム</h1>
        <h1 class="user-info__title__description__info"><%= @user.nickname %></h1>
      </div>
      <div class="user-info__title__description">
        <h1 class="user-info__title__description__div">都道府県・市町村</h1>
        <h1 class="user-info__title__description__info"><%= @user.prefecture.name %><%= @user.city %></h1>
      </div>
      <div class="user-info__title__description">
        <h1 class="user-info__title__description__div">年齢</h1>
        <h1 class="user-info__title__description__info"><%= @user.age %></h1>
      </div>
      <div class="user-info__title__description">
        <h1 class="user-info__title__description__div">性別</h1>
        <h1 class="user-info__title__description__info"><%= @user.gender %></h1>
      </div>
    <% end %>
  </div>

  <%= render partial: "accepts/accept_list", locals: {user: @user} %>

  <div class="user-request">
    <% if current_user.id == @user.id %>
    <h1 class="user-request__title">依頼中</h1>
    <div class="user-request__descript">
      <% @requests.each do |request| %>
      <% if Date.today <= request.date %>
      <div class="user-request__descript__brock">
        <div class="user-request__descript__brock__left">
          <% if current_user.id == request.user.id && request.accept.hide != "上記の受付を削除する" %>
            <li>受付ID.No：<%= link_to request.accept_id, accept_path(request.accept_id), class: "user-request__descript__brock__left__link" %></li>
          <% elsif current_user.id == request.user.id && request.accept.hide == "上記の受付を削除する" %>
            <li><span>この受付は削除されました</span></li>
          <% end %>
          <li>指名：<%= request.name %></li>
          <li>年齢：<%= request.age %></li>
          <li>性別：<%= request.gender %></li>
            <% if current_user.id == request.user.id && request.reply == "承諾" && request.room.present? %>
              <li><%= link_to "チャットルームでメッセージの確認", "/requests/#{request.id}/rooms/#{request.room.id}", class: :"user-request__descript__brock__left__chat" %></li>
            <% elsif request.reply == "承諾" && request.room.present? == false %>
              <li class="user-request__descript__brock__left__chat">依頼主のチャットルーム作成待ち</li>
            <% elsif request.reply == "辞退" %>
              <%= link_to "依頼を削除する", request_path(request.id), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: :"user-request__descript__brock__left__chat" %>
            <% elsif current_user.id == request.user.id && user_signed_in? %>
              <%= link_to "編集", edit_request_path(request.id), class: :"user-request__descript__brock__left__btn" %>
              <%= link_to "削除", request_path(request.id), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: :"user-request__descript__brock__left__btn" %>
            <% end %>
        </div>
        <div class="user-request__descript__brock__right">
          <li>依頼日程：<%= request.date %></li>
          <li>依頼時間：<%= request.time %></li>
          <li>アレルギー：<%= request.allergy %></li>
          <li>性格：<%= request.personality %></li>
          <li>特記事項：<%= simple_format request.mention %></li>
          <% if current_user.id == request.user.id && request.reply == "承諾" || request.reply == "辞退" %>
            <li><span>依頼状況：<%= request.reply %></span></li>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

