<div class="make-request">
  <h1 class="make-request__title">依頼フォーム</h1>
  <%= form_for @request do |form| %>
    <label>
      <h1 class="new_request__title">依頼日程</h1>
      <%= form.text_field :date, class: :"new_request__box", placeholder: :"例）2019-12-3" %>
    </label>
    <label>
      <h1 class="new_request__title">依頼時間</h1>
      <%= form.text_field :time, class: :"new_request__box", placeholder: :"例）8:30 ~ 19:00" %>
    </label>
    <label>
      <h1 class="new_request__title">お子様の指名</h1>
      <%= form.text_field :name, class: :"new_request__box", placeholder: :"例）山田 太郎" %>
    </label>
     <label>
      <h1 class="new_request__title">お子様の年齢</h1>
      <%= form.text_field :age, class: :"new_request__box",placeholder: :"例）3歳" %>
    </label>
    <label>
      <h1 class="new_request__title">お子様の性別</h1>
      <%= form.text_field :gender, class: :"new_request__box", placeholder: :"例）男" %>
    </label>
    <label>
      <h1 class="new_request__title">アレルギー</h1>
      <%= form.text_area :allergy, class: :"new_request__area", placeholder: :"正確にご記入をお願いします。" %>
    <label>
    </label>
      <h1 class="new_request__title">お子様の性格</h1>
      <%= form.text_area :personality, class: :"new_request__area", placeholder: :"繊細な性格等、配慮が必要な事情がありましたらご記入下さい。" %>
    </label>
    <label>
      <h1 class="new_request__title">特記事項</h1>
      <%= form.text_area :mention, class: :"new_request__area", placeholder: :"お預けになる方へのお願い等がありましたらご記入下さい。" %>
    </label>
    <%= form.submit "送信", class: :"new_request__btn" %>
  <% end %>
</div>