<%= render partial: "layouts/devise-header" %>

<div class="sign">
 <div class="sign__in">ログイン</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :field__box %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: :field__box %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="forget-password">
      <%= link_to "パスワード再登録画面へ", new_user_password_path, class: "forget-password__link" %>
    </div>

    <div class="actions">
      <%= f.submit "ログインする" %>
    </div>
  <% end %>

</div>