<%= render partial: "layouts/header", locals: {user: @user} %>

<div class="room">
  <div class="room-show">
    <h1 class="room-show__title">チャットルーム</h1>
  </div>
  <div class="room-chat">
    <div class="room-chat__left">
      <div class="room-chat__left__request">
        <h1 class="room-chat__left__request__title">依頼内容</h1>
        <ul class="room-chat__left__request__detail">
          <li>受託者指名：<span><%= @room.request.accept.user.name %></span></li>
          <li>依頼主指名：<span><%= @room.request.user.name %></span></li>
          <li>依頼日程：<span><%= @room.request.date %></span></li>
          <li>依頼時間：<span><%= @room.request.time %></span></li>
          <li>メールアドレス：<span><%= @room.request.user.email %></span></li>
          <li>住所：<span><%= @room.request.user.prefecture.name %><%= @room.request.user.city %><%= @room.request.user.building_street %></span></li>
          <li>お子様の指名：<span><%= @room.request.name %></span></li>
          <li>年齢：<span><%= @room.request.age %></span></li>
          <li>性別：<span><%= @room.request.gender %></span></li>
          <li>アレルギー：<span><%= @room.request.allergy %></span></li>
          <li>性格：<span><%= @room.request.personality %></span></li>
          <li>特記事項：<span><%= @room.request.mention %></span></li>
        </ul>
      </div>
      <div class="room-chat__left__form">
        <%= form_for [@request, @room, Message.new], url: request_room_messages_path(request_id: params[:request_id], room_id: @room.id) do |f| %>
          <%= f.text_area :chat %>
          <%= f.submit "送信", id: :"chat-send" %>
        <% end %>
      </div>
    </div>
    <div class="room-chat__right">
      <div class="room-chat__right__box">
        <% @room.messages.each do |message| %>
          <div class="message-box" data-message-id=<%= message.id %>>
            <ul class="message-box__head">
              <li class="message-box__head__name"><%= message.user.name %></li>
              <li class="message-box__head__created-at"><%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %></li>
            </ul>
            <p class="message-box__text"><%= message.chat %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>