<!DOCTYPE html>
<html>
  <head>
    <title>ChildRaiseSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "Child Raise Sharing", "/", class: "header__title__link" %>
      </div>
      <% if user_signed_in? %>
        <div class="header__info">
          <%= link_to "マイページ", user_path(current_user.id), class: "header__info__link" %>
          <%= link_to "受付確認", "/users/#{current_user.id}/deal", class: "header__info__link" %>
          <%= link_to "依頼する", new_request_url, class: "header__info__link" %>
          <%= link_to "受託する", new_accept_url, class: "header__info__link" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__info__link" %>
        </div>
      <%end%>
    </header>
    <%= yield %>
    
    <footer>Life is not fair; get used to it.</footer>
  </body>
</html>