<!DOCTYPE html>
<html>
  <head>
    <title>ChildRaiseSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="header">
      <div class="header__title">
        Child Raise Sharing
      </div>
      <div class="header__info">
        <%= link_to "マイページ", "#", class: "header__info__link" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__info__link" %>
        <%= link_to "依頼する", "#", class: "header__info__link" %>
        <%= link_to "受託する", "#", class: "header__info__link" %>
      </div>
    </header>
    
    <%= yield %>
  </body>
</html>
